@charset "UTF-8";

/*
    paleta de cores
    verde: #49a09d
    Lilás: #5f2c82

*/

* { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html { 
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main { 
    position: relative;
    width: 100vw;
    height: 100vh;
}

#login {
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
} 

#login > div#imagem { 
    display: block;
    background: #5f2c82 url(../imagens/pexels-eosvini-2896036.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left bottom;
}

section#login > div#formulario { 
    display: block;
    padding: 10px;
}
div#formulario > h1 { 
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p { 
    font-size: 0.8em;
}

form > div.campo { 
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
}

div.campo > label { 
    display: none;
}

form > input[type=submit] { 
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #3fc2bd;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}

form > input[type=submit]:hover { 
    background-color: #042e2d;
    color: white;
}

form > a.btn { 
    display: block;
    text-align: center;
    background-color: #f2ffff;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 40px;
    border: 1px solid #2b7270;
    border-radius: 10px;
    font-size: 1em;
    text-decoration: none;
    margin-top: 5px;
}

form > a.btn:hover { 
    background-color: #83c4c1;
    color: black;
}

form > a > span { 
    font-size: 0.8em;
}